<!DOCTYPE html>
<html>
  	<head>
  	  		<title></title>
	  </head>
	  	    <div class="container clearfix">
		<header class="header clearfix">
            <nav>
                <ul class="top_menu clearfix">
                    <li><a href="#">ホーム</a></li>
                    <li><a href="#">ナビ1</a></li>
                    <li><a href="#">ナビ2</a></li>
                </ul>
            </nav>
    </header>

    <article class="content clearfix">
  	  <h3>以下の内容で、送信する。</h3>

      <%= form_with(model: @twcl, url: twcls_path, local: true) do |form| %>
      <%= form.hidden_field :content %>

      <p>つぶやき内容:<%= @twcl.content %></p>
         <%= form.submit  "！！つぶやき！！" %>
      <% end %>
      <br>
      <%= form_with(model: @twcl, url: new_twcl_path, local: true, method: 'get') do |form| %>
         <%= form.hidden_field :content %>
         <%= form.submit "もどる", name: 'back' %>
      <% end %>
    </article>

  <footer class="footer">
    <p>Copyright © 201801 Eiji Mizutani All RIGHTS RESERVED.</p>
  </footer>
  </div>